#mapid  {
    height: 100vh; 
    width: 100vw;
    z-index: 50;
}

.input-fields {
    width: 95%;
}

.remove-icon{
    color: #98999b;
}

.extra-input{
    margin-right: 5px;
}

.walk-icon {
    float:left; 
    margin-left:10px; 
    background: url('images/Walk.png') no-repeat; 
    background-size: contain; 
    height:30px;
    width:20px;
}

.bike-icon {
    float:left; 
    margin-left:10px; 
    background: url('images/bike.png') no-repeat; 
    background-size: contain; 
    height:30px;
    width:20px;
}

.car-icon {
    float:left; 
    margin-left:10px; 
    background: url('images/car.png') no-repeat; 
    background-size: contain; 
    height:30px;
    width:20px;
}

.bus-icon {
    float:left; 
    margin-left:10px; 
    background: url('images/bus.png') no-repeat; 
    background-size: contain; 
    height:30px;
    width:20px;
}

#routing-menu{
    z-index:100; 
    position:relative;
}

#button-list{
    display:inline-block; 
    list-style-type:none;
    margin-bottom: 10px;
}

#isochrones{
    display: none;
}

#attraction-menu-container {
	display: none;
}


/*tracking Consent Begin*/
#tracking-notification {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#tracking-notification a {
    color: #4B8EE7;
    text-decoration: none;
}
#close-tracking-notification {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#close-tracking-notification:hover {
    color: #FFF;
}
#tracking-notification a.trackingConsentOk {
    background-color: #007bff;
    color: #FFF;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#tracking-notification a.trackingConsentOk:hover {
    background-color: blue;
}
/*tracking Consent End*/
