*{
    padding:0px;
    margin:0px;

}

#map{
    height: 100vh;
    width: 100%;


    }
#content{
    position: absolute;
    z-index: 100;
    height: auto;
    width: 100%;
    }
.button-right{
    text-align: right;
    margin-top: 5px;


}

.button-left{

    /* text-align: right; */
    border: none;
    border-radius: 5px;
    background-color: rgb(16, 66, 180);
    color: white;
    padding: 10px;
    margin: 5px;
}
.buttonMargin{
    margin:2px 1px;
}
#view_route{
display: none;
}

.button-left-button1{
    margin: 20px;
}
button[aria-expanded=true] .fa-angle-down {
    display: none;
 }
button[aria-expanded=false] .fa-angle-up {
    display: none;
 }

#page_content{
    position: absolute;
    width:500px;
    background: darkgreen;
    display: none;
}
.leaflet-control-zoom {
	margin-bottom: 25px;
    padding: 10px 10px;
    background: blueviolet;
  }
.leaflet-bar{

}
.leaflet-top {
    /* float:left; */
    /* position: relative; */
    /* margin-left: 20px; */
    background: white;
    margin-top:auto;
    height: auto;
}
.leaflet-routing-container{
    background: none;
    box-shadow: none;
    border: none;
    text-align: center;

   }
.leaflet-routing-container p{
    font-weight: 600;
    font-size: 22px;
    color:#8176E9;
}
.leaflet-routing-geocoder{
    position:relative;
    white-space: nowrap;
}
.leaflet-routing-geocoders input{
    background: #D9E2DA;
    padding: 5px 0px;
    border-bottom: none;
    border-radius: 10px;
    width: 95%;
    }
/*the cross button*/
.leaflet-routing-remove-waypoint::after {
    background: red;
   display: none;
}
.leaflet-routing-add-waypoint::after{
    display: none;
}

/*the way points container*/
.leaflet-routing-alternatives-container{
    background:#8FA2EB;
    border-radius: 5px;
}
/************sweet alert***********************/

.text-field{
    height:30px;
    width: 150px;
    padding: 2px;
}


#time{
    height:30px;
    text-align:center;
    font-weight:bold;
    width:310px;
    margin: 10px auto;
    border-radius: 5px;
}
#now{
    width:155px;
    background: #50C347;
    float:left;
    height:30px;
    padding-top:5px;
}
#later{
    width:155px;
    background: #8E8E8E;
    float:right;
    height:30px;
    padding-top:5px;
}
#time_now{
    display:none;
}
#date{
    display: none;
}
.indicators{
    width: 100%;
    clear: both;
}
.indicators label{
    float: left;
    text-align: left;
}
.indicators input{
    float: right;
    text-align: right;
}

.leaflet-top.leaflet-left .leaflet-control-zoom.leaflet-bar.leaflet-control{
	display:none;
	visibility:hidden;
}

.leaflet-popup-tip-container{
	position:relative;
	margin:0px;
	margin-left:-20px;
}
/*-----------------------------------table route info---------------------------*/
.popup_heading{
    font-size: 25px;
    color:#8176E9;
    margin-bottom: 10px;
    font-weight:bold;
}

#table_route_info{
    width:100%;

}
#table_route_info th{
   padding:5px;
}
.directions-table{
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    
}




/*--------------------------------------ferrie-----------------------------------*/

#ferrie h2{
    color:#678BDF;
    font-weight: bold;
    border-bottom: 1px dotted red;
}
#ferrie p{
    font-size: 16px;
}



/* ------------------------------attraction container stuff ---------------	*/

#attraction-search-container {
	z-index: 100;
	display: inline;
	position: absolute;
}

#search-container {
	margin 4px 0;
	background-color: rgba(255, 255, 255, 0.7);
}

#search-img-container {
	padding: 6px;
	display: inline-block;
}

.search-focused {
	background-color: rgba(255, 255, 255, 0.9);
}

.search-focused #search-bar {
	display: inline-block;
}

#search-bar {
	margin: 4px 4px 4px 0px;
	display: none;
	position: relative;
}

#search-suggestive {
	color: rgba(50, 50, 50, 0.5);
	position: absolute;
	top: 0;
	left: 0;

	z-index: 210;
}

.search-input {
	top: 0;
	left: 0;
	z-index: 209;

	padding: 4px;

	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	
	position: relative;
}

#search-in{
	z-index: 211;
	background-color: transparent;
}